# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

# OS / IDE
.DS_Store
Thumbs.db
.vscode/

# Uploads & generated images (keep folder, not files)
static/uploads/*
!static/uploads/.gitkeep

# Model files (too large for GitHub usually)
*.h5
*.keras

# Logs
*.log

dataset/
